doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href='/stylesheets/uploadfile.css',rel='stylesheet')
    script(src='/js/jquery-1.11.3.min.js')
    script(src='/js/jquery.uploadfile.min.js')
  body
    block content
